body {
  font-size: 20px;
  font-family: system-ui, sans-serif;
  text-align: center;
  background: #212121;
  color: white;
}

#app {
  height: 98vh;
}

.chat {
  max-width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.personality {
  flex: 1;
  padding: 0.5rem;
  align-self: flex-start;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.01);
  color: #ccc;
  cursor: pointer;
  transition: all 0.2s ease;
}

.personality:hover {
  background-color: #ffffff26;
}

.personality > option {
  color: #333;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.input-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.6rem 0;
  background-color: #303030;
  border-radius: 1.5rem;
}

.input-area > input {
  width: 100%;
  font-size: 1.1rem;
  margin-left: 1.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.01);
  color: #ccc;
}

.input-area > input:focus {
  outline: none;
}

.input-area > svg {
  width: 2rem;
  margin-right: 1rem;
  border: none;
  background-color: #424242;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-area > svg:hover {
  background-color: #212121;
}

.messages {
  flex: 20;
  height: 40rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message.user {
  align-self: flex-end;
  background-color: #323232d9;
  max-width: 40%;
  padding: 1rem;
  border-radius: 1rem;
  line-height: 1.6;
}

.message.assistant {
  text-align: left;
  padding: 1rem 0;
}

.loading-svg {
  width: 1.5rem;
}

.loading-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
