body {
  font-size: 20px;
  font-family: system-ui, sans-serif;
  text-align: center;
  background: #212121;
  color: white;
}

#app {
  height: 98vh;
}

.chat {
  max-width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personality {
  display: flex;
}

.personality p {
  margin: 0;
  color: #ccc;
  padding-top: 0.25rem;
}

.personality select {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.01);
  color: #ccc;
  cursor: pointer;
  transition: all 0.2s ease;
}

.personality select:hover {
  background-color: #ffffff26;
}

.personality select > option {
  color: #333;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.settings {
  width: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.settings:hover {
  background-color: #ffffff26;
}

.input-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.6rem 0;
  background-color: #303030;
  border-radius: 1.5rem;
}

.input-area > input {
  width: 100%;
  font-size: 1.1rem;
  margin-left: 1.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.01);
  color: #ccc;
}

.input-area > input:focus {
  outline: none;
}

.input-area > svg {
  width: 2rem;
  margin-right: 1rem;
  border: none;
  background-color: #424242;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-area > svg:hover {
  background-color: #212121;
}

.messages {
  flex: 20;
  height: 40rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message.user {
  align-self: flex-end;
  background-color: #323232d9;
  max-width: 40%;
  padding: 1rem;
  border-radius: 1rem;
  line-height: 1.6;
}

.message.assistant {
  text-align: left;
  padding: 1rem 0;
}

.loading-svg {
  width: 1.5rem;
}

.loading-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.settings-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  border: #ffffff0d 1px solid;
  background-color: #303030;
  border-radius: 2rem;
  max-width: 35rem;
  padding: 3rem;
  z-index: 10;
}

.settings-modal .description h2 {
  margin: 0;
}

.modal-close {
  position: absolute;
  width: 1.5rem;
  right: 3%;
  top: 7%;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  transition: all 0.2s ease;
}

.modal-close:hover {
  background-color: #ffffff26;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.delete-button {
  padding: 0.75rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #dc4446;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delete-button:hover {
  background-color: #e86e6b;
}

.cancel-button {
  padding: 0.75rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  transition: all 0.2s ease;
}

.cancel-button:hover {
  background-color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 5;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
